.board {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f9; /* Light grey background for the board */
}

.column {
  flex: 1;
  margin: 0 10px;
  background-color: white; /* Adds contrast */
  border-radius: 10px; /* Rounded corners for columns */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 20px; /* Padding inside columns */
  display: flex;
  flex-direction: column;
}

.column h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px; /* Space below the header */
  text-align: center; /* Center-align column titles */
}

.newTaskButton {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  margin: 10px 10px 20px; /* Adjusted margin */
  color: white;
  font-size: 1.1em;
  border: none;
  cursor: pointer; /* Indicates the button is clickable */
}

/* Additional hover and active effects */
.newTaskButton:hover,
.newTaskButton:focus {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.newTaskButton:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.taskCard {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  color: white;
  transition: transform 0.1s ease-in-out;
}

.taskCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.taskCard:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.taskCard h3 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.taskCard p {
  font-size: 1em;
}

.taskCard .dueDate {
  font-size: 0.8em;
  margin-top: 10px;
  color: white;
}

.editButton,
.deleteButton {
  background: none; /* Removes the button background */
  border: none; /* Removes the border */
  padding: 0; /* Adjust padding to your preference */
  cursor: pointer;
}

/* Add some space around the icons if needed */
.editButton i,
.deleteButton i {
  padding: 5px; /* Adjust padding to your preference */
}

/* Optional: Add a hover effect for the icons */
.editButton:hover i,
.deleteButton:hover i {
  color: goldenrod; /* Change icon color on hover */
}
